In [2]:
mylist=[1,2,3,4]

In [6]:
for ele in mylist:
    if ele%2==0:
        print("{}".format(ele)+" is odd ")
    else:
         print("{}".format(ele)+" is even ")

1 is even
2 is odd
3 is even
4 is odd

In [10]:
mystring="Manoj maddy"
count=0
for char in mystring:
    if char=='M' or char=='m':
        count+=1
print(count)

2

In [11]:
tup=(1,2,3)
sum=0
for item in tup:
    sum+=item
print(f'The sum of tuple is {sum}')

The sum of tuple is 6

In [12]:
#tuple unpacking
list1=[(1,2),(3,4),(4,5),(6,7)]
for a,b in list1:
    print(a+b)

3
7
9
13

In [13]:
d={'k1':10,'k2':20,'k3':30}
for item in d.values():
    print(item)

10
20
30

In [14]:
d={'k1':10,'k2':20,'k3':30}
for item in d.keys():
    print(item)

k1
k2
k3

In [15]:
d={'k1':10,'k2':20,'k3':30}
for item in d.items():
    print(item)

('k1', 10)
('k2', 20)
('k3', 30)

In [16]:
#dictonary unpacking
d={'k1':10,'k2':20,'k3':30}
for a,b in d.items():
    print(f'{a} pairs with {b}')

k1 pairs with 10
k2 pairs with 20
k3 pairs with 30